nav > .nav.nav-tabs{

  border: none;
    color:#fff;
    background:#272e38;
    border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
  border: none;
    padding: 18px 25px;
    color:#fff;
    background:#272e38;
    border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #e74c3c ;
}
.tab-content{
  background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid #e74c3c;
    border-bottom:5px solid #e74c3c;
    padding:30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
    background: #e74c3c;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}

.bg-image {
	background-image: url('/source/img/content/marsh.jpg');
	width: 330px;
	height: 340px;
}

.info {
	margin-top: 4%;
}

.info .header-info h2 {
	color: #FFFFFF;
	font-size: 24px;
	background-color: #F08080;
	padding: 5%;
	margin-top: 15%;
	margin-left: -15%;
}

.info .header-info .icon-heart {
	color: red;
	font-size: 28px;
	margin-top: 15%;
	margin-left: 40%;
}

.info .header-info span {
	color: red;
	font-size: 20px;
}

.info .main-info .avatar {
	vertical-align: middle;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-top: 40%;
}

.info .main-info p {
	color: #FFFFFF;
	font-size: 19px;
	margin-top: 20%;
}

.info .main-info ul li {
	color: #FFFFFF;
  font-size: 18px;
}

.info .header-content .title-content {
	color: blue;
	padding-bottom: 5%;
	border-bottom: 1px solid blue;
}

.info .header-content .dropdown {
	margin-left: 80%;
	margin-top: -5%;
}

.info .header-content .dropdown a {
	text-decoration: none;
	color: #2F4F4F;
	font-size: 20px;
}

.info .header-content .description-content {
  padding: 15px;
  font-size: 20px;
}

.error {
  color: red;
}

.header-content .info-content {
	padding: 15px; 
	font-size: 20px;
}

.header-content .info-content .btn-view {
	margin-top: 42%; 
	margin-left: 75%;
}

.header-content .info-content .btn-view a {
	font-size: 22px; 
	color: blue;
}
